################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Netro/CopilotIndices/17.14.878.3237
/.vs/Netro/v17/TestStore/0
*.json
/.vs/Netro/BuiltInFunctions.prg
/.vs/Netro/X#Model.xsdb
/.vs/Netro/v17/.suo
/.vs/Netro/FileContentIndex/ac25878c-9482-4043-9ebc-79d690af296e.vsidx
/.vs/Netro/FileContentIndex/3ae3b90b-75af-46e2-aa4a-8fa961fc80b7.vsidx
/.vs/Netro/FileContentIndex/read.lock
